// import google font
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* reset styles */
* {
  color: inherit;
  margin: 0;
}

body {
  font-family: Poppins;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px dotted #efefef;
}

img {
  max-width: 100%;
}

h1 {
  a {
    color: red;
  }
}

/* theme colors */

$primary: #00ffd1;
$secondary: #f5f5f5;
$info: #31c6d4;
$warning: #ffff00;
$danger: #ff0000;
$success: #00ff00;
$light: #f5f5f5;
$dark: #000000;
$white: #ffffff;
$black: #000000;

// spacing

$base-padding: 1rem;
$base-margin: 1rem;

/* theme styles */

// shadow effect

$shadow-color: rgba(0, 0, 0, 0.2);
$shadow-size: 0 0 10px 0;

$base-border-radius: 0.25rem;

body {
  background-color: $light;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  color: $dark;
  font-family: Poppins;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: $dark;
}

.error {
  color: $danger;
}

.btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  border-radius: $base-border-radius;
  box-shadow: $shadow-size $shadow-color;
  transition: all 0.3s ease-in-out;
}

.btn-primary {
  background-color: $primary;
  border: 1px solid $primary;
  color: $white;
  &:hover {
    background-color: $white;
    border: 1px solid $white;
    color: $primary;
    outline: none;
  }
}

.btn-secondary {
  background-color: $secondary;
  border: 1px solid $secondary;
  color: $dark;
  &:hover {
    background-color: $dark;
    border: 1px solid $dark;
    color: $secondary;
    outline: none;
  }
}

.btn-info {
  background-color: $info;
  border: 1px solid $info;
  color: $white;
  &:hover {
    background-color: $white;
    border: 1px solid $white;
    color: $info;
    outline: none;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}
